<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flasked Vincent</title>
    <meta charset="utf-8">
    
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">script></script>
    
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://d3js.org/topojson.v1.min.js"></script>
    <script src="http://d3js.org/d3.geo.projection.v0.min.js" charset="utf-8"></script>
    <script src="http://trifacta.github.com/vega/vega.js"></script>

    <style>hr, h3 {padding-bottom: 20px;}canvas {background-color: #fffff;}</style>
  </head>
  <body>
    
    <div class="container">
      
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active">
          <li><a href="http://vincent.readthedocs.org/en/latest/">Vincent</a></li>
          <li><a href="http://trifacta.github.io/vega/">Vega</a></li>
          <li><a href="http://d3js.org/">D3</a></li>
          <li><a href="http://flask.pocoo.org/">Flask</a></li>
        </ul>
        <h3 class="text-muted">Flasked Vincent</h3>
      </div>
      
      <div class="charts text-center">
        <div class="row"><div id="bar"></div></div><hr>
	<div class="row"><div id="line"></div></div><hr>
	<div class="row"><div id="multiline"></div></div><hr>
	<div class="row"><div id="stocks"></div></div><hr>
	<div class="row"><div id="stacked_stocks"></div></div><hr>
	<div class="row"><div id="stacked_bar"></div></div><hr>
       </div>
    </div>
    
    <!-- Render Charts -->
    <script type="text/javascript">
      function parse(url, div) {
          vg.parse.spec(url, function(chart) { 
              chart({el:"#" + div}).update() 
              var canvas = $("#" + div).find("canvas")[0];
              var img = canvas.toDataURL("image/png");
              $("#" + div).append("<a class='btn btn-primary' href='" + img + "' download='" + div + ".png'>Download</a>");
          })
      }
      
      parse("/data/bar", "bar")
      parse("/data/line", "line");
      parse("/data/multiline", "multiline");
      parse("/data/stocks", "stocks");
      parse("/data/stacked_stocks", "stacked_stocks");
      parse("/data/stacked_bar", "stacked_bar");
    </script>

  </body>
</html>
